* {
	margin: 0px;
	padding: 0px;
	background: #000;
	color: #ff3562;
	font-family: 'Bebas Neue', cursive;
}

color {
	color: #000000;
	color: #6c596e;
	color: #ff3562;
	color: #ecc8af;
	color: #93b5c6;
}

/* //////////////////////////////////////////////////////////Header CSS */
.main-header {
	padding: 15px 0px 15px 15px;
	width: 100vw;
	height: 100px;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
	text-align: center;

	color: #ff3562;
}

img {
	height: 100px;
	width: 100px;
	border-radius: 15px;
}
#header-title {
	padding-left: 30px;
	font-size: 45px;
	letter-spacing: 4.5px;
}
/* /////////////////////////////////////////////////////////MainNote CSS */

.main-container {
	/* border: 2px white solid; */
	margin-left: 30%;
	margin-right: 30%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.form-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 70%;
	height: auto;
}

.form-button {
	position: relative;
	left: 40%;
	width: 75px;
	height: 45px;
	border-radius: 5px;
}
input {
	height: 45px;
	text-align: center;
	letter-spacing: 3.5px;
	font-size: larger;
	color: #ecc8af;
}
textarea {
	font-size: 15px;
	letter-spacing: 2px;
	color: #ff3562;
	padding: 10px 10px;
}

button:hover {
	background: white;
	color: #000;
	transition: 500ms ease-in-out;
	font-size: large;
}

/* /////////////////////////////////////////////////////////childNote CSS */

.main-child {
	margin: 20px;
	/* border: 2px solid white; */
	width: 250px;
	height: 150px;
	box-shadow: -2px 2px 2px 2px lightcoral;
	padding: 10px;
}

.child-button {
	position: relative;
	top: -25px;
	left: 89%;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}
.child-content {
	color: #ecc8af;
}

.child-title {
	text-transform: capitalize;
	font-size: larger;
}

.child-note-area {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px 10px;
	justify-content: space-evenly;
}
